<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Decor</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .navbar {
            background-color: #333;
        }
.hero-section {
        position: relative;
        height: 500px;

        background-size: cover;
        background-position: center;
    }
    .brand:before {
        color: #f0cc2d;
        content: 'HOME';
        font-weight: bold;
    }

    * {
    font-family: Amaranth;
    }
    .categories .card-body {
        padding: 0; !importnat
    }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand text-uppercase brand" href="{% url 'index' %}"> Decor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link text-white">
                        {% if user.is_authenticated and user.is_staff %}
                        <a href="/admin" class="text-white m-3" STYLE="text-decoration:none;">
                            ADMIN PANEL
                            <i class="fa-solid fa-table-columns"></i>
                        </a>
                        <i class="fa-solid fa-user-plus text-whites"></i> {{ user.username }}
                        {% else %}
                        <i class="fa-solid fa-user text-white"></i> {{ user.username }}
                        {% endif %}
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i
                            class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}">Sign in</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Cart
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="p-5 text-center bg-image hero-section" style="
      background-image: url('https://tobel.qodeinteractive.com/wp-content/uploads/2021/05/landing-rev-2.jpg');
      height: 500px;
    ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 text-uppercase">welcome <br>to <br>architecture</h1>
                    <p><b style="color: #f0cc2d;">Your Source for Stylish and Quality Home Accessories</b></p>
                    <p class="mb-3 w-50 text-center m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla at tristique turpis. In in vehicula ex. Nullam ut ex sed urna pellentesque ultricies. Sed
                        vel eleifend justo, quis facilisis quam. Sed eget vehicula urna.

                    </p>
                    <a class="btn btn-outline-white btn-lg" href="#!" role="button">Shop now.</a>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="categories container p-3">
    <h3 class="text-center">Categories</h3>
    <hr>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'create_category' %}" class="btn btn-primary">Create Category</a>
    <hr/>
    {% endif %}

    <div class="row">
        {% for category in categories %}
        <div class="col-md-3 mb-3">
            {% if user.is_staff %}
            <a href="{% url 'edit_category' category.id %}" class="btn btn-success btn-sm">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <form method="post" action="{% url 'delete_category' category.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btm-sm">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
            </form>
            {% endif %}
            <div class="card m-auto" style="width: 15rem; height: 18rem;">
                {% if category.image %}
                <a href="{% url 'category_page' category.id %}" class="link category-link">
                    <img src="{{ category.image.url }}" alt="{{ category.name }}" class="card-img-top p-3" height="200px;">
                </a>

                {% endif %}
                <div class="card-body text-center mt-4 ">
                    <h5 class="card-title">{{ category.name }}</h5>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

<main style="background-color:#5D6E70;color: white;"><br>
    <div class="container"><br>
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h5 class="head-text text-uppercase">
                        Welcome to <br> <b style="color: #f0cc2d;">Interior</b> <br>
                        Architecture
                    </h5>
                </div>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi atque blanditiis culpa
                        cupiditate, eos hic, itaque reprehenderit similique sit tempora unde. Facere facilis laboriosam
                        nam officia repudiandae sint totam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta dolore ducimus id magni
                        nesciunt optio reiciendis ut vero? Alias asperiores assumenda est explicabo nobis numquam
                        pariatur praesentium ut. Illo.
                    </p>
                </div>
                <br>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Read more about us.</a>
            </div>

            <div class="col-md-6">
                <img class="rounded mx-auto d-block"
                     src="https://w0.peakpx.com/wallpaper/16/148/HD-wallpaper-simple-bulb-industrial-interior-design-light-lights-modern.jpg"
                     alt="" width="50%" height="80%">
            </div>
        </div>
    </div>
</main>
<section class="blogs-section justify-content-end p-3">
    <div class="container ">
        <h1>
            Blogs & Articles
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <img src="https://opencart.workdo.io/homedecor/image/cache/catalog/blog/5-1005x567.jpg"
                         class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <div class="date-time blogdt">
                            <span class="date-time">31 Aug, 2023</span>
                            <hr>
                        </div>
                        <h5 class="card-title">Best Furniture to your rooms</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at
                            culpa doloremque, dolores excepturi inventore iusto laborum minima natus omnis optio placeat
                            praesentium provident quod sed sit, veritatis voluptatem voluptatibus.</p>
                        <a href="#" class="btn btn-secondary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6">
                    <img src="https://opencart.workdo.io/homedecor/image/cache/catalog/blog/4-1005x567.jpg"
                         class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <div class="date-time blogdt">
                            <span class="date-time">31 Aug, 2023</span>
                            <hr>
                        </div>
                        <h5 class="card-title">Best Furniture to your rooms</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto
                            assumenda consequuntur delectus dolor doloribus ea eligendi, enim iste iusto nihil pariatur
                            porro provident quos repellat, repudiandae rerum totam, voluptatum.</p>
                        <a href="#" class="btn btn-secondary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control"/>
                            <label class="form-label" for="form5Example21">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">Goran Veljanov</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
